<br/>
<br/>
<div class="row">
  <div class="columns small-2 small-2-offset-2">
    <%= link_to '导出用户资料表', "/cms/user_system/user_infos/export_users_xls", method: :post, class: 'button tiny' %>
  </div>
</div>
<%=  %>