<h1>市场活动</h1>
<div>
  名称: <%=@market_activity.name%>
</div>
<div>
  开始时间: <%=@market_activity.start_time.chinese_format rescue ''%>
</div>
<div>
  结束时间: <%=@market_activity.end_time.chinese_format rescue ''%>
</div>