<div class="columns small-1">
  <label>参与活动:</label>
</div>
<div class="columns small-3">
  <%= select_tag :market_activity_id, options_from_collection_for_select(market_activities, 'id', 'name', market_activity_id), prompt: '请选择活动', onchange: 'change_sessions()' %>
</div>
<div class="columns small-1">
  <label>活动场次:</label>
</div>
<div class="columns small-3 end">
  <%= select_tag :market_activity_session_id, options_from_collection_for_select(sessions, 'id', 'full_name', market_activity_session_id), prompt: "请选择场次" %>
</div>