
<% if @customers.blank? %>
    <p class="required">对不起，没有找到对应的转介绍人</p>
<% else %>
    <div class="row">
      <div class="columns small-12">
        <table>
          <thead>
          <th>姓名</th><th>电话</th>
          </thead>
          <tbody>
          <% @customers.each do |customer| %>
              <tr>
                <td>
                  <%= radio_button_tag :customer_radio, customer.id, false, id: "referral_customer_id", class: customer.student_name %>
                  <!--<input type="radio" name="customer_radio" id="referral_customer_id"  value="<%#=customer.id%>" class="<%#= customer.student_name %>" />-->
                  <label><%= customer.student_name %></label>
                </td>
                <td>
                  <label><%= show_phone_of_customer customer %></label>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="columns small-12 text-center">
        <%= link_to "确定", "javascript:confirm_referral()", class: "button tiny" %>
      </div>
    </div>
<% end %>
<script language="javascript">
  function confirm_referral(){
      referral_id = "";
      student_name = '';


      var radio_arr=document.getElementsByName("customer_radio");
      for (var i=0; i < radio_arr.length; i++) {
          if (radio_arr[i].checked)
          {
              student_name = radio_arr[i].getAttribute("class");
              referral_id = radio_arr[i].getAttribute("value");
          }
      }
      if(referral_id == ""){
              alert("请选择一个介绍人。")
      } else {
          $("#sale_system_potential_customer_referral_id").val(referral_id);
          $("#refer_info_label").html('<a href="#" onclick="openWindow()">'+student_name+'</a>');
          $("#button_close_search_referral").click();
      }
  }
</script>