<div class="tc suc-icn"><img src="/img/success-icn.png" alt=""/></div>
<p class="tc suc-txt">
  请下载 <a href=""><%=@product_app%></a> 即可获得本次服务
</p>
<div class="tc ok"><%= link_to "确 认", wz_order_system_products_path %></div>