<div class="tc suc-icn"><img src="/img/success-icn.png" alt=""/></div>
<p class="tc suc-txt">
  工作人员将会在3个工作日内与您联系<br>
  请保持手机畅通
</p>
<div class="tc ok"><%= link_to "确 认", wz_order_system_products_path %></div>