<div class="nav-logo"><%= image_tag "/img/nav-logo.jpg" %></div>
<ul class="nav">

<% @products.each do |product|%>

        <li><%= link_to image_tag("/uploads/images/#{product.cover_image}"),"/wz/order_system/products/new_appointment?id=#{product.id}"%></li>

<% end %>

</ul>