<div class="nav-logo"><%= image_tag "/img/nav-logo.jpg" %></div>
<ul class="nav">
  <% @products.each do |product|%>
  <li><a href="<%=product.url%>"><img src="/uploads/images/<%=product.cover_image%>" alt=""/></a></li>
  <% end %>
</ul>