<h1>这是保险比价界面</h1>
<%= form_tag(search_price_order_system_products_path,method: 'post') do %>
    <div class="row">
      <label>车价</label>
      <%= number_field_tag :car_price,@car_price %>
    </div>
    <div class="row">
      <label>所在地</label>
      <%= text_field_tag :city,@city %>
    </div>
    <div class="row">
      <%= submit_tag "免费预约"%>
    </div>
<% end %>